[submodule "Assets/GameMain/Tools/MycroftToolkit"]
	url = https://github.com/MycroftCooper/MycroftToolkit.git
[submodule "Assets/QuickGameFramework"]
	url = https://github.com/MycroftCooper/QuickGameFramework.git
